.bg-img {
  background: url("https://images.app.goo.gl/p4Dhm1by5ozqyZXg9");
  background-position: center;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: rgb(159, 215, 241); /* here */
}
